{% extends "default.html" %}

    <SCRIPT language="javascript" type="text/javascript" src="/static/logtaildecrypt.js"></script>
    <SCRIPT language="javascript" type="text/javascript" src="/static/jquery.min.js"></script>

{% block body %}
<h1>{{ the_title }}</h1>
<div class="row">
    <div class="span10">
      <form action="/decrypt/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" style="margin-bottom: 10px" />

	<br/>Current state : <font color=red> {{ state }} </font>
	<div id="header">
	    Logs : 
            <a href="./">Reversed</a> or
            <a href="./?noreverse">chronological</a> view.
            <a id="pause" href='#'>Pause</a>	
	</div>
	 <pre id="data-decrypt">Loading...</pre>
      </form>
<!--      <form method="post" action="">
        <p><input type="text" name="pass déchiffrement" /></p>
	<p><input type="submit" value="Envoyer" /></p>
      </form> -->
    </div>
    <div class="span5">
    </div>
</div>

{% endblock %}
