{% extends "default.html" %}

{% block body %}
<h1>{{ the_title }}</h1>
<div class="row">
    <div class="span10">
      <form action="/flush/" method="post">
        {% csrf_token %}
        {{ form }}
	<label for="submit">Submit to flush git history and log history :</label><input type="submit" value="Submit" />

	<br/><br/>Current state : <font color=red> {{ state }} </font>
	<div id="header">
	     Logs:
            <a href="./">Reversed</a> or
            <a href="./?noreverse">chronological</a> view.
            <a id="pause" href='#'>Pause</a>	
	</div>
	 <pre id="data">Loading...</pre>
      </form>
    </div>
    <div class="span5">
    </div>
</div>
{% endblock %}
